.check-item-img {
    width: 120px;
    min-height: 100px;
}

.process-steps {
    position: relative;
    .process-icon {
        z-index: 1;
    }
}
.process-steps:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.process-steps-primary:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $primary;
    margin-left: 5px;
    margin-right: 5px;
}